.root {
  -fx-background-color: #f4f4f4;
  -fx-font-family: "Inter", sans-serif;
}

.menu-bar {
  -fx-background-color: white;
  -fx-border-color: #e0e0e0;
  -fx-border-width: 0 0 1px 0;
  -fx-padding: 5px 10px;
}

.menu .label{
  -fx-text-fill: #333333;
}
#newNodeButton {
  -fx-background-color: #009688;
  -fx-text-fill: white;
  -fx-font-size: 20px;
  -fx-font-weight: 600;
  -fx-border-radius: 12px;
  -fx-background-radius: 12px;
  -fx-padding: 10px;
  -fx-border-color: transparent;
  -fx-min-width: 40px;
  -fx-min-height: 40px;
  -fx-pref-width: 40px;
  -fx-pref-height: 40px;
  -fx-alignment: center;
  -fx-font-family: "Arial", sans-serif;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0, 1, 1);
}

.button {
  -fx-background-color: #f5f5f5;
  -fx-text-fill: #333;
  -fx-font-size: 12px;
  -fx-font-weight: 600;
  -fx-border-radius: 8px;
  -fx-background-radius: 8px;
  -fx-padding: 10px 0px;
  -fx-border-color: transparent;
}

.button:hover {
  -fx-background-color: #e0e0e0;
}

.button:selected {
  -fx-background-color: #0078d7;
  -fx-text-fill: white;
}

.vbox {
  -fx-spacing: 10px;
  -fx-padding: 10px;
}


.split-pane {
  -fx-background-color: #f0f0ff;
  -fx-border-color: #dddddd;
}

.tab-pane {
  -fx-background-color: white;
}

.tab {
  -fx-background-color: #f8f8f8;
  -fx-text-fill: #555;
  -fx-font-size: 14px;
  -fx-border-radius: 5px 5px 0 0;
  -fx-padding: 10px;
}

.tab:selected {
  -fx-background-color: #0078d7;
  -fx-text-fill: white;
}

.text-area {
  -fx-background-color: white;
  -fx-border-color: #d1d1d1;
  -fx-border-radius: 6px;
  -fx-padding: 4px;
}
.text-area:focused {
  -fx-border-color: #0078d7;
  -fx-effect: dropshadow(three-pass-box, rgba(0,120,215,0.3), 5, 0, 0, 2);
}

#compileButton {
  -fx-background-color: #4caf50;
  -fx-text-fill: white;
  -fx-font-size: 14px;
  -fx-padding: 10px 18px;
  -fx-background-radius: 8px;
  -fx-border-radius: 8px;
}

#compileButton:hover {
  -fx-background-color: #388e3c;
}
.pop-up-vbox{
  -fx-padding: 20;
  -fx-background-color: lightgray;
  -fx-alignment: center;
}
.pop-up-text-bold{
  -fx-font-size: 16px;
  -fx-font-weight: bold;
  -fx-fill: #616161;
}
.pop-up-text{
  -fx-font-size: 14px;
  -fx-font-weight: normal;
  -fx-fill: #616161;
}
.pop-up-button{
  -fx-background-color: #d36a6a;
  -fx-text-fill: white;
  -fx-font-size: 14px;
}
.mainScrollPane{
  -fx-border-color: green;
  -fx-border-width: 2px;
}